.thead {
    background-color: rgba(109, 219, 101, 0.563);
}

.th {
    color: white;
}

.trtr {
    background-color: aliceblue;
}

.transaction {
    margin: 0 auto;
}

.trtrtr {
    background-color: rgb(68, 68, 68);
    color: white;
}