.item {
    background-color: white;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    box-shadow: 0 0 5px 2px rgba(92, 92, 92, 0.5);
}

.online {
    background-color: green;
}

.offline {
    background-color: tomato;
}

.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}